<section class="contact" id="contact">
  <!-- .contact__ -->
  <h1 class="contact__title">Looking for help with design</h1>
  <p class="contact__sub-title">Send me details</p>
  <form class="contact__form">
      <div class="contact__field">
          <label for="name" class="contact__label">Name</label>
          <input required type="text" class="contact__input" id="name" placeholder="Enter your name">
      </div>
      <div class="contact__field">
          <label for="email" class="contact__label">Email Address</label>
          <input required type="email" class="contact__input" id="email" placeholder="Enter your email">
      </div>
      <div class="contact__field">
          <label for="textarea" class="contact__label">Detail</label>
          <textarea required id="textarea" cols="30" rows="5" class="contact__text-area" placeholder="Enter your message"></textarea>
      </div>
      <div class="contact__field contact__field--itens-right">
          <button class="contact__link" type="submit">Submit</button>
      </div>
  </form>
</section>
